Py_scripts/.vscode/launch.json
Py_scripts/__pycache__/_dale.cpython-37.pyc
Py_scripts/__pycache__/_player.cpython-37.pyc
Py_scripts/__pycache__/_utilities.cpython-37.pyc
Py_scripts/__pycache__/YUA_NI4_Adventures.cpython-37.pyc
Py_scripts/__pycache__/YUA_NI4_Texts.cpython-37.pyc
Save_Files/Memories.txt
Save_Files/Planets.txt
